<div class="d-flex justify-content-between" style="flex-direction: row">


<div id = "posts">
<!--  <h1>Table by JSON Server Api</h1>-->
<!--  <hr>-->

  <div class="card" *ngFor="let post of posts">
    <div class="card-header">
      {{post.title}}
    </div>
    <div *ngFor="let img of images" style="width: 100%">
      <img src="assets/{{img}}" alt="image">


    <div class="card-body">
      <h6 class="card-title">{{post.date}}</h6>
      <p class="card-text">{{post.text}}</p>
      <a href="/readarticle/{{post.id}}" class="btn btn-primary">Read Article</a>
<!--      href="/readarticle"-->
    </div>
  </div>
  </div>
<!--  <table id = "posts">-->
<!--    <tr>-->
<!--      <th *ngFor="let col of columns" >-->
<!--        {{col}}-->
<!--      </th>-->
<!--    </tr>-->

<!--    <tr *ngFor="let post of posts">-->
<!--&lt;!&ndash;       // *ngFor="let ind of index">&ndash;&gt;-->
<!--      <td>-->
<!--        {{post.id}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{post.title}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{post.text}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{post.date}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{post.author}}-->
<!--      </td>-->
<!--    </tr>-->

<!--  </table>-->
</div>
</div>
