<div class="title">
  <div class="vertical-text">
    <h3>В Казахстане появится 5G</h3>
    <p>Сеть 5G будет запущена в пилотном режиме в столице в течение этого года.</p>
  </div>
  <div class="vertical-img">
    <img src="assets/5g.jpeg" alt="">
  </div>
</div>
<div class="content">
  <div class="info-box">
    <div class="info-row">
      АВТОР
    </div>
    <div class="info-row">
      ДАТА
    </div>
    <div class="info-row">
      ПОДЕЛИТЬСЯ
    </div>
    <div class="info-row">
      ВРЕМЯ ПРОЧТЕНИЯ
    </div>
  </div>
  <div class="text">
    <p class="italic">Казахстан готовится к внедрению сети нового поколения 5G, сообщил вице-министр цифрового развития, инноваций и аэрокосмической промышленности РК Асхат Оразбек.</p>
    <p>Сеть 5G будет запущена в тестовом режиме в столице в течение этого года. К концу cледующего года сеть оценят жители городов республиканского значения, а в 2025 — жители областных центров.</p>
    <p>Асхат Оразбек также упомянул, что частоты для 5G будут выдаваться операторам связи посредством аукциона или конкурса. С целью утверждения способа распределения частот будут внесены соответствующие поправки в закон.</p>
    <p>Компания Huawei выступит главным поставщиком технологий по внедрению 5G и будет сотрудничать с казахстанскими операторами связи, корпорациями и отраслевыми партнерами.</p>
    <p>«В течение следующего десятилетия 5G будет приносить все большую ценность различным отраслям, включая здравоохранение, электроэнергетику, производство и горнодобывающую промышленность», — отметил генеральный директор Чжан Цинго.</p>
    <p>Проект находится на начальной стадии тестирования передачи данных. Huawei уже совершил первый звонок и запустил пилотный проект совместно с Beeline Казахстан. На следующих этапах будет тестироваться виртуальная и дополненная реальность AR/VR и облачные игры CloudGaming с целью продемонстрировать, как работает сеть 5G.</p>
  </div>
</div>
