image{
  width: auto;
}


h1
{
  text-align: center;
  color: #4CAF50;
}


#posts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  //border-collapse: collapse;
  width: 100%;
  padding: 50px;
  margin-bottom: 30px;
  //display: flex;
  //justify-content: center;
  //align-content: space-evenly;
}

#posts td, #posts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#posts tr:nth-child(even){background-color: #f2f2f2;}

#posts tr:hover {background-color: #ddd;}

#posts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  //background-color: #4CAF50;
  //color: white;
}
