.box {
  width: 100%;

}
.imgbox{
 width: 100%;

 img {
  width: 100%;
 }
}

.box-footer {
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: 60%;
    background: white;
  }
  .right {
    padding: 150px 10px 10px;
    width: 50%;
  }
}
