@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Quicksand&display=swap');

.box {
  width: 100%;

}
.imgbox{
 width: 100%;

 img {
  width: 100%;
 }
}

.box-footer {
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    width: 60%;
    background: white;
  }
  .right {
    padding: 150px 10px 10px;
    width: 50%;
  }
  a{
      color: #000;
      text-decoration: none;
  }
  a:hover{
  color: #ea2e34;
  }
  h2{
    font-size: 40px;
    font-family: 'Oranienbaum', Grifinito, Georgia, Times, Times New Roman, serif;
  }
}
