<div class="header">
    <h1>Новости</h1>
</div>
<div class="main">
    <div class="left">
        <ul>
            <li>Новые</li>
            <li>Популярные</li>
            <li>Steppe рекомендует</li>
        </ul>
    </div>

    <div class="right">
        <div class="header">
            <p>НОВЫЕ</p>
        </div>
        <div class="article">
            <img alt="Хочу завести домашнего питомца: к чему нужно быть готовым?" class="" src="assets/f2.jpg">
            <div class="leed-right">
                <h3>Хочу завести домашнего питомца: к чему нужно быть готовым?</h3>
                <p>Маржан Талап</p>
            </div>
        </div>
    </div>


</div>
